body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
