<h2>Add Product</h2>

<form action="/products" method="POST">
  <input name="name" placeholder="Name" required />
  <input name="price" placeholder="Price" required />
  <input name="category" placeholder="Category" />
  <input name="stock" placeholder="Stock" />
  <textarea name="description" placeholder="Description"></textarea>
  <button>Add</button>
</form>
